@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../../Content/font-awesome.min.css" />
    <link rel="stylesheet" href="../../Content/bootstrap.min.css" />
    <link rel="stylesheet" href="../../Content/hover-min.css" />
    <link rel="stylesheet" href="../../Content/animate.css" />
    <link rel="stylesheet" href="../../Content/index.css" />

    <script src="../../Scripts/html5shiv.js"></script>
    <script src="../../Scripts/respond.js"></script>
</head>

<body>

    <!--start carousal -->

    <div id="carousel-example-generic" class="carousel slide hidden-xs" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators hidden-xs">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="../img/1.jpg" alt="...">

            </div>
            <div class="item">
                <img src="../img/2.jpg" alt="...">

            </div>

            <div class="item">
                <img src="../img/3.jpg" alt="...">

            </div>

            <div class="item">
                <img src="../img/1.jpg" alt="...">

            </div>

        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!--End of carousal-->
    <!--start section about us -->
    <section class="about " id="about">
        <div class="container">
            <h2 class="text-center">Learn More About Us</h2>
            <div class="line">
                <span></span>
            </div>
            <div class="row">
                <div class="col-lg-6">

                    <h3>Welcome to Fire Line Company where you can easily book your journey.</h3>
                    <p class="lead">Welcome to our online bus reservation system where you can easily book your journey to any available city on our system.Just Follow the instuctions to book it successfully.Also make an account in order to interact easily with you.</p>
                    <button class="btn btn-success  wow bounceInLeft" data-wow-duration="2s">Learn More </button>

                </div>

                <div class="col-lg-4  col-lg-offset-2">

                    <img src="../img/KNznCVE.jpg" width="100%" />

                </div>

            </div>

        </div>

    </section>


    <!--End section about us -->
    <!--start section features -->
    <section class="features text-center" id="features">
        <div class="container">
            <h2>Our Features</h2>


            <div class="col-lg-3 col-md-6">
                <div class="feat wow bounceInLeft" data-wow-offset="300">
                    <span class="fa fa-suitcase fa-2x"></span>
                    <h4>Extra Bags</h4>
                    <p class="hvr-pulse">This is our first feature where you can take extra bags as you want without any restrictions.Also there is a very special service where you can transfer your bags on a private bus if there are a lot of weight. </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="feat wow bounceInUp" data-wow-offset="300">
                    <span class="fa fa-user-secret fa-3x"></span>
                    <h4>Safe Transactions</h4>
                    <p class="hvr-hang">With Fire Line you can securely made your transactions on our system without any fear of hacking or even any try of swindle.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="feat wow bounceInDown" data-wow-offset="300">
                    <span class="fa fa-paypal fa-3x"></span>
                    <h4>Online Payment</h4>
                    <p class="hvr-pulse">
                        Also with our system you can pay the price of your ticket online using one of the most securely systems of money transctions which is "PAYPAL".

                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 ">
                <div class="feat wow bounceInRight" data-wow-offset="300">
                    <span class="fa fa-file fa-2x"></span>
                    <h4> Full Detailed Report</h4>
                    <p class="hvr-hang">When you finish your reservation to a specific bus .you wil get a full detailed report about your seat  number,bus,and the transactions happened on your account.</p>
                </div>
            </div>


        </div>



    </section>

    <!--End of section features -->
    <!--start section services-->
    <section class="services text-center" id="services">
        <div class="container">
            <h2>Our Services</h2>
            <div class="line">
                <span></span>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="services-info  wow bounceInLeft" data-wow-duration="3s">
                        <i class="fa fa-camera fa-2x"></i>
                        <h3>Strategy</h3>
                        <p>standard dummy text ever since the 1500s, when an unknown printer took a galley of type .</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="services-info wow bounceInUp " data-wow-duration="3s">
                        <i class="fa fa-camera fa-2x"></i>
                        <h3>Strategy</h3>
                        <p>standard dummy text ever since the 1500s, when an unknown printer took a galley of type .</p>
                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="services-info wow bounceInRight" data-wow-duration="3s">
                        <i class="fa fa-camera fa-2x"></i>
                        <h3>Strategy</h3>
                        <p>standard dummy text ever since the 1500s, when an unknown printer took a galley of type .</p>
                    </div>

                </div>
                <div class="col-lg-4">

                    <div class="services-info wow bounceInLeft" data-wow-duration="3s">
                        <i class="fa fa-camera fa-2x"></i>
                        <h3>Strategy</h3>
                        <p>standard dummy text ever since the 1500s, when an unknown printer took a galley of type .</p>
                    </div>
                </div>
                <div class="col-lg-4">

                    <div class="services-info wow bounceInDown" data-wow-duration="3s">
                        <i class="fa fa-camera fa-2x"></i>
                        <h3>Strategy</h3>
                        <p>standard dummy text ever since the 1500s, when an unknown printer took a galley of type .</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="services-info wow bounceInRight " data-wow-duration="3s">
                        <i class="fa fa-camera fa-2x"></i>
                        <h3>Strategy</h3>
                        <p>standard dummy text ever since the 1500s, when an unknown printer took a galley of type .</p>
                    </div>

                </div>


            </div>
        </div>

    </section>



    <!--End section services-->
    <!--start home section -->
    <section class="home" id="home">
        <div class="overlay">
            <div class="container  text-center">
                <h3>Join Fire Line Today!</h3>
                <p class="lead">With Fire Line you can know easily book your journey to the available cities with the best prices and also we have a daily offers.Also you can pay the price of your ticket using PayPal without neeeding to go the the company.Do not be hesitated to go.And there will be very impressive offers for the new passengers.</p>
                <button class="btn button wow bounceInLeft" data-wow-offset="200">Learn More</button>
                <button class="btn button wow bounceInRight" data-wow-offset="200">Discover Now </button>
            </div>
        </div>
    </section>


    <!--End home section -->
    <!--start section offers-->

    <section class="offers text-center" id="offers">

        <div class="line">
            <span></span>
        </div>
        <div class="container">
            <h2>Join Fire Line Offers Now !</h2>
            <p class="lead">Here are our offers for you.You can select any one of them as you like.In our company we have daily,monthly and annnual offers for you.And our surprise for you is the premium offers.What are you waiting for ? Go ahead for it.</p>
            <div class="row">
                <div class="col-lg-3">
                    <div class="offers-info wow fadeInDown" data-wow-duration="2s" data-wow-offset="300">
                        <div class="p1">
                            <h3>Daily Plan</h3>
                        </div>
                        <div class="p2">
                            <h3 class="text-info center-block">20 $</h3>
                        </div>


                        <div class="p3">
                            <ul class="list-unstyled">
                                <li>1$ discount on each extra bag</li>
                                <li>20 $ discount on the ticket </li>
                                <li>Additional services are for free</li>

                            </ul>

                        </div>
                        <div class="p4">

                            <button class="btn btn-info">Order Now</button>
                        </div>
                    </div>


                </div>

                <div class="col-lg-3">
                    <div class="offers-info wow fadeInUp" data-wow-duration="2s" data-wow-offset="300">
                        <div class="p1">
                            <h3>Monthly Plan</h3>

                        </div>
                        <div class="p2">
                            <h3 class="text-primary">35 $ </h3>

                        </div>


                        <div class="p3">
                            <ul class="list-unstyled">
                                <li>2$ discount on each extra bag</li>
                                <li>28 $ discount on the ticket </li>
                                <li>Additional services are for free</li>

                            </ul>

                        </div>
                        <div class="p4">

                            <button class="btn btn-primary">Order Now</button>
                        </div>
                    </div>

                </div>


                <div class="col-lg-3">

                    <div class="offers-info wow fadeInDown" data-wow-duration="2s" data-wow-offset="300">
                        <div class="p1">
                            <h3>Quarter Plan</h3>

                        </div>
                        <div class="p2">
                            <h3 class="text-success">40 $</h3>

                        </div>


                        <div class="p3">
                            <ul class="list-unstyled">
                                <li>1$ discount on each extra bag</li>
                                <li>20 $ discount on the ticket </li>
                                <li>Additional services are for free</li>

                            </ul>

                        </div>
                        <div class="p4">

                            <button class="btn btn-success">Order Now</button>
                        </div>
                    </div>
                </div>


                <div class="col-lg-3">
                    <div class="offers-info wow fadeInUp" data-wow-duration="2s" data-wow-offset="300">
                        <div class="p1">
                            <h3>Annual Plan</h3>

                        </div>
                        <div class="p2">
                            <h3 class="text-danger">45 $</h3>

                        </div>


                        <div class="p3">
                            <ul class="list-unstyled">
                                <li>1$ discount on each extra bag</li>
                                <li>20 $ discount on the ticket </li>
                                <li>Additional services are for free</li>

                            </ul>

                        </div>
                        <div class="p4">

                            <button class="btn btn-danger">Order Now</button>
                        </div>
                    </div>

                </div>


            </div>

        </div>

    </section>
    <!--End section offers-->
    <!--start section skills-->
    <section class="skills " id="skills">

        <div class="container">
            <h1 class="text-center">Our Skills</h1>
            <div class="row">
                <div class="col-md-5">
                    <div class="skills-progress">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%;">
                                Reports Generations
                            </div>

                        </div>

                        <div class="progress">
                            <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%;">
                                Admins interactions
                            </div>

                        </div>

                        <div class="progress">
                            <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%;">
                                Users Feedback
                            </div>

                        </div>

                        <div class="progress">
                            <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width:95%;">
                                bus/Lines Mangement
                            </div>

                        </div>

                    </div>

                </div>

                <div class="col-md-6 col-md-offset-1">
                    <div class="skills-info">

                        <h3>About The Team</h3>
                        <p class="lead">We Are Specialized System In reserving buses online.You can see our skills here.You can see what we have reached in pur system through our progress bars.Also important to see what we have reached in the users satisfaction about our system.</p>
                        <button class="btn btn-info">Talk With Professional</button>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!--End section skills-->
    <!--start section team-->

    <section class="our-team text-center" id="team">
        <div class="team">
            <div class="container">
                <h2 clss="h2">Meet Our Awesome Team</h2>
                <div class="row">

                    <div class="col-lg-2 col-md-6 col-lg-offset-1">
                        <div class="person">

                            <img class="img-circle wow bounceIn" width="100%" src="../img/7.jpg" alt="jolia" />
                            <h3>Ramy tawfik</h3>
                            <p>This is the designer of our System </p>
                            <i class="fa fa-twitter-square  fa-lg"></i>
                            <i class="fa fa-facebook-square  fa-lg"></i>
                            <i class="fa fa-google-plus-square  fa-lg"></i>
                            <i class="fa fa-youtube-square   fa-lg"></i>
                        </div>


                    </div>

                    <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                        <div class="person">

                            <img class="img-circle wow bounceIn" width="100%" src="../img/7.jpg" alt="jolia" />
                            <h3>Khaled Essam</h3>
                            <p>This is the database Adminstrator</p>
                            <i class="fa fa-twitter-square  fa-lg"></i>
                            <i class="fa fa-facebook-square  fa-lg"></i>
                            <i class="fa fa-google-plus-square  fa-lg"></i>
                            <i class="fa fa-youtube-square   fa-lg"></i>
                        </div>


                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                        <div class="person">

                            <img class="img-circle wow bounceIn" width="100%" src="../img/8.jpg" alt="jolia" />
                            <h3>Mohamed Said</h3>
                            <p>This is our Back-End developer</p>
                            <i class="fa fa-twitter-square  fa-lg"></i>
                            <i class="fa fa-facebook-square  fa-lg"></i>
                            <i class="fa fa-google-plus-square  fa-lg"></i>
                            <i class="fa fa-youtube-square   fa-lg"></i>
                        </div>


                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                        <div class="person">

                            <img class="img-circle wow bounceIn" width="100%" data-wow-offset="400" src="../img/9.jpg" alt="jolia" />
                            <h3>Hesham Mohamed</h3>
                            <p>This is our Back-End developer</p>
                            <i class="fa fa-twitter-square  fa-lg"></i>
                            <i class="fa fa-facebook-square  fa-lg"></i>
                            <i class="fa fa-google-plus-square  fa-lg"></i>
                            <i class="fa fa-youtube-square   fa-lg"></i>
                        </div>

                    </div>

                    <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                        <div class="person">

                            <img class="img-circle wow bounceIn" width="100%" data-wow-offset="400" src="../img/9.jpg" alt="jolia" />
                            <h3>Mohamed Sayed Ouda </h3>
                            <p>This is our Back-End developer</p>
                            <i class="fa fa-twitter-square  fa-lg"></i>
                            <i class="fa fa-facebook-square  fa-lg"></i>
                            <i class="fa fa-google-plus-square  fa-lg"></i>
                            <i class="fa fa-youtube-square   fa-lg"></i>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section>



    <!--End section team-->
    <!--start section contact us -->


    <section class="contact-body text-center" id="contact-body">

        <div class="fields">
            <div class="container">
                <div class="row">
                    <i class="fa fa-headphones fa-4x"></i>
                    <h2 class="h1">Tell Us What You Feel</h2>
                    <p class="lead">Feel Free To Contact Us Any Time</p>

                    <form role="form">
                        <div class="col-md-6 wow bounceInLeft" data-wow-offset="300">
                            <div class="form-group"><input type="text" class="form-control  input-lg" placeholder="Username" /></div>
                            <div class="form-group"><input type="text" class="form-control  input-lg" placeholder="Email" /></div>
                            <div class="form-group"><input type="text" class="form-control  input-lg" placeholder="Cell Phone" /></div>
                        </div>
                        <div class="col-md-6 wow bounceInRight" data-wow-offset="300">
                            <div class="form-group">

                                <textarea class="form-control input-lg" rows="3.5" placeholder="Your Message......."></textarea>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-danger  btn-block">Contact Us</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>

    </section>

    <!--End section  contact-->
    <!--start section  statistics-->


    <section class="stat  text-center">
        <div class="data">
            <div class="container">
                <h2>Our Main Statistics</h2>


                <div class="row">
                    <div class="col-lg-3">
                        <div class="st">

                            <i class="fa fa-users fa-4x"></i>
                            <p>9,200</p>
                            <span>Statisfied Users</span>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="st">
                            <i class="fa fa-comments fa-4x"></i>
                            <p>25,600</p>
                            <span>Posted Comments</span>
                        </div>


                    </div>
                    <div class="col-lg-3">
                        <div class="st">
                            <i class="fa fa-suitcase fa-4x"></i>
                            <p>20,200</p>
                            <span>Projects Done</span>
                        </div>


                    </div>
                    <div class="col-lg-3">
                        <div class="st">
                            <i class="fa fa-support fa-4x"></i>
                            <p>50,280</p>
                            <span>Tickets Achieved</span>
                        </div>


                    </div>


                </div>

            </div>
        </div>

    </section>
    <!--End section  statistics-->
    <!--start section footer-->



    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h3>Site Map</h3>
                    <ul class="list-unstyled three-columns">
                        <li>Home</li>
                        <li>About</li>
                        <li>Company</li>
                        <li>Code</li>
                        <li>Design</li>
                        <li>Host</li>
                        <li>Solutions</li>
                        <li>SiteMap</li>
                        <li>Contact</li>


                    </ul>
                    <div class="clearfix"></div>

                    <ul class="list-unstyled accounts accounts-list">

                        <li><i class="fa fa-facebook fa-2x"></i></li>
                        <li><i class="fa fa-google-plus fa-2x"></i></li>
                        <li><i class="fa fa-youtube fa-2x"></i></li>
                        <li><i class="fa fa-twitter fa-2x"></i></li>
                        <li><i class="fa fa-instagram fa-2x"></i></li>

                    </ul>
                </div>

                <div class="col-lg-4">
                    <h3>Latest Article</h3>
                    <div class="media">

                        <a class="pull-left" href="#"> <img class="media-object " src="../img/13.jpg" alt="tree" width="100px" /></a>
                        <div class="media-body">
                            <h4 class="media-heading">Programming</h4>
                            This is some text about programming and some articles.

                        </div>

                    </div>
                    <div class="media">
                        <a class="pull-left" href="#"> <img class="media-object" src="../img/14.jpg" alt="tree" width="100px" /></a>
                        <div class="media-body">
                            <h4 class="media-heading">Programming</h4>
                            This is some text about programming and some articles.

                        </div>

                    </div>
                    <div class="media">
                        <a class="pull-left" href="#"> <img class="media-object" src="../img/15.jpg" alt="tree" width="100px" /></a>
                        <div class="media-body">
                            <h4 class="media-heading">Programming</h4>
                            This is some text about programming and some articles.

                        </div>

                    </div>
                </div>

                <div class="col-lg-4">
                    <h3>Our Awesome Work</h3>
                    <img class="thumbnail" src="../img/10.jpg" alt="tree" width="100px" />
                    <img class="thumbnail" src="../img/11.jpg" alt="tree" width="100px" />
                    <img class="thumbnail" src="../img/12.jpg" alt="tree" width="100px" />
                    <img class="thumbnail" src="../img/14.jpg" alt="tree" width="100px" />
                </div>

            </div>
        </div>

        <div class="copyright text-center">

            Copyrights by Fire Line Company &copy;.All rights are Reserved by<span class="copyright_span"> Ramy Inc.</span>
        </div>
    </section>




    <!--End section footer-->

    <div class="button-top">
        <i class="fa fa-chevron-up fa-3x"></i>

    </div>



    <script src="../../Scripts/jquery-3.2.1.min.js"></script>
    <script src="../../Scripts/bootstrap.min.js"></script>
    <script src="../../Scripts/js/wow.min.js"></script>
    <script>new WOW().init();</script>
    <script src="../../Scripts/jquery.nicescroll.min.js"></script>
    <script src="../../Scripts/owl.carousel.min.js"></script>
    <script src="../../Scripts/index.js"></script>
</body>

</html>

